@charset "UTF-8";
/*
* Header -- Configuracio referent a la secció de header
* Navigation -- Part relacionada amb la dispsició del Header
* Navigation/Item -- Estils dels bottons que estan en el header
* Wrap -- Referent a la base de la seccio de continguts, base per a la taula i formularis
* Table -- Configuracio d'estils de la taula
* Form -- Configuracio i estils dels formularis
* Footer -- Estils relacionats amb el footer
* Media Queries -- Estils responsive
*/
/* line 14, ../sass/screen.scss */
* {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  letter-spacing: .02em;
}

/* line 20, ../sass/screen.scss */
.body {
  background: linear-gradient(to bottom, #6300c8 0%, #36d3fe 100%) #9000ff;
  height: 100%;
}

/*Header*/
/* line 25, ../sass/screen.scss */
.header {
  background-color: #fff;
  padding: .2em 0;
  width: 100%;
}

/* line 30, ../sass/screen.scss */
.navSection {
  display: flex;
  justify-content: center;
  margin: 1em 0;
}

/*Navigation*/
/* line 36, ../sass/screen.scss */
.navigation {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
}

/* line 42, ../sass/screen.scss */
.navigation__title {
  text-decoration: none;
  font-size: 25px;
}

/* line 46, ../sass/screen.scss */
.navigation__title--size {
  color: #36d3fe;
}

/* line 49, ../sass/screen.scss */
.navigation__items {
  display: flex;
  list-style: none;
}

/*Navigation/Item */
/* line 54, ../sass/screen.scss */
.item {
  border-radius: 0.5em;
  text-align: center;
  padding: 1em 0;
  width: 12em;
  border: none;
  margin-left: 1em;
}

/* line 62, ../sass/screen.scss */
.item__button {
  color: white;
  font-weight: 400;
}

/* line 66, ../sass/screen.scss */
.item__student--color {
  background: #0052FF;
  transition: all 0.3s ease;
  transition-timing-function: ease;
}

/* line 70, ../sass/screen.scss */
.item__student--color:hover {
  background-color: #0024d3;
}

/* line 73, ../sass/screen.scss */
.item__task--color {
  background: #0052FF;
  transition: all 0.3s ease;
  transition-timing-function: ease;
}

/* line 77, ../sass/screen.scss */
.item__task--color:hover {
  background-color: #0024d3;
}

/*Wrap*/
/* line 81, ../sass/screen.scss */
.wrap {
  display: flex;
  justify-content: center;
  width: auto;
  align-items: center;
  min-height: 80vh;
  height: auto;
}

/* line 90, ../sass/screen.scss */
.wrap__containter {
  background-color: #fff;
  border-radius: .2em;
  margin: 0 .5em;
  padding: 3em;
}

/*Table*/
/* line 97, ../sass/screen.scss */
.table {
  border-collapse: collapse;
  overflow-x: auto;
  display: block;
  width: fit-content;
}

/* line 103, ../sass/screen.scss */
.rowheader {
  border-bottom: 1px solid #f2f2f2;
}

/* line 107, ../sass/screen.scss */
.rowheader__columnHeader {
  text-transform: uppercase;
  font-size: 14px;
  color: #333333;
  padding-left: 40px;
  padding-bottom: 21px;
}

/* line 115, ../sass/screen.scss */
.tableRow {
  border-bottom: 1px solid #f2f2f2;
}

/* line 118, ../sass/screen.scss */
.tableRow__cell {
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 40px;
  color: #666666;
}

/* line 124, ../sass/screen.scss */
.xpbutton {
  border: none;
  padding: 1vh;
  border-radius: .5vh;
  cursor: pointer;
}

/* line 130, ../sass/screen.scss */
.xpbutton--color {
  color: white;
  background: #0052FF;
  transition: all 0.3s ease;
  transition-timing-function: ease;
}

/* line 135, ../sass/screen.scss */
.xpbutton--color:hover {
  color: white;
  background: #666666;
}

/*Form*/
/* line 140, ../sass/screen.scss */
.titleForm {
  font-size: 3vh;
}

/* line 143, ../sass/screen.scss */
.titleForm--color {
  color: #666666;
}

/* line 146, ../sass/screen.scss */
.form {
  display: flex;
  flex-direction: column;
}

/* line 150, ../sass/screen.scss */
.form__label {
  font-size: 1.5vh;
}

/* line 153, ../sass/screen.scss */
.form__label--color {
  color: #666666;
}

/* line 156, ../sass/screen.scss */
.form__input {
  padding: .5vh;
  margin-right: 1vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

/* line 162, ../sass/screen.scss */
.form__save {
  border-radius: 9em;
  padding: 1em 0;
  width: 12em;
  border: none;
  margin-left: 10%;
  font-size: 15px;
  font-weight: bold;
}

/* line 171, ../sass/screen.scss */
.form__save--color {
  color: white;
  background: #26006A;
  transition: all 0.3s ease;
  transition-timing-function: ease;
}

/* line 176, ../sass/screen.scss */
.form__save--color:hover {
  background-color: #000;
}

/* line 179, ../sass/screen.scss */
.form__saveTask {
  border-radius: 9em;
  padding: 1em 0;
  width: 12em;
  border: none;
  margin-left: 40%;
  font-size: 15px;
  font-weight: bold;
}

/* line 188, ../sass/screen.scss */
.form__saveTask--color {
  color: white;
  background: #26006A;
  transition: all 0.3s ease;
  transition-timing-function: ease;
}

/* line 193, ../sass/screen.scss */
.form__saveTask--color:hover {
  background-color: #000;
}

/*Footer*/
/* line 197, ../sass/screen.scss */
.footer {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
}

/* line 208, ../sass/screen.scss */
.footer--color {
  background-color: white;
}

/* line 211, ../sass/screen.scss */
.topMeu {
  display: flex;
  justify-content: center;
}

/* line 215, ../sass/screen.scss */
.topMeu__item {
  color: #666666;
  font-weight: bold;
  text-decoration: none;
  margin-left: 1.5vh;
  padding-top: 2vh;
}

/* line 222, ../sass/screen.scss */
.botMenu {
  display: flex;
  justify-content: center;
  padding-top: 1vh;
}

/* line 227, ../sass/screen.scss */
.botMenu__item {
  margin-left: 1.5vh;
}

/*Media Queries*/
@media (max-width: 1024px) {
  /* line 232, ../sass/screen.scss */
  .wrap__containter {
    overflow-x: auto;
    margin-top: 5vh;
  }

  /* line 236, ../sass/screen.scss */
  .table {
    width: 100%;
  }

  /* line 239, ../sass/screen.scss */
  .tableRow__cell {
    width: 5px;
  }

  /* line 242, ../sass/screen.scss */
  .navigation {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  /* line 247, ../sass/screen.scss */
  .navigation__items {
    margin-right: 1vh;
  }
}
@media (max-width: 768px) {
  /* line 252, ../sass/screen.scss */
  .navigation {
    flex-direction: column;
  }

  /* line 255, ../sass/screen.scss */
  .wrap__containter {
    width: 100%;
  }

  /* line 258, ../sass/screen.scss */
  .navigation__items {
    margin-top: 2vh;
    margin-bottom: 2vh;
  }

  /* line 262, ../sass/screen.scss */
  .notification {
    display: inline !important;
  }
}
