@charset "UTF-8";
/*
* Header -- Configuracio referent a la secció de header
* Navigation -- Part relacionada amb la dispsició del Header
* Navigation/Item -- Estils dels bottons que estan en el header
* Wrap -- Referent a la base de la seccio de continguts, base per a la taula i formularis
* Table -- Configuracio d'estils de la taula
* Form -- Configuracio i estils dels formularis
* Footer -- Estils relacionats amb el footer
* Media Queries -- Estils responsive
*/
/* line 14, ../sass/screen.scss */
* {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  letter-spacing: .02em;
}

/* line 20, ../sass/screen.scss */
.body {
  background: linear-gradient(to bottom, #6300c8 0%, #36d3fe 100%) #9000ff;
  height: 100%;
}

/*Header*/
/* line 25, ../sass/screen.scss */
.header {
  background-color: #fff;
  padding: .2em 0;
  width: 100%;
}

/* line 30, ../sass/screen.scss */
.navSection {
  display: flex;
  justify-content: center;
  margin: 1em 0;
}

/*Navigation*/
/* line 36, ../sass/screen.scss */
.navigation {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
}

/* line 42, ../sass/screen.scss */
.navigation__title {
  text-decoration: none;
  font-size: 25px;
}

/* line 46, ../sass/screen.scss */
.navigation__title--size {
  color: #36d3fe;
}

/* line 49, ../sass/screen.scss */
.navigation__items {
  display: flex;
  list-style: none;
}

/* line 53, ../sass/screen.scss */
.show-menu {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  display: none;
  min-width: 5vh;
}

/*Hide checkbox*/
/* line 63, ../sass/screen.scss */
input[type=checkbox] {
  display: none;
}

/*Show menu when invisible checkbox is checked*/
/* line 67, ../sass/screen.scss */
input[type=checkbox]:checked ~ .navigation__items {
  display: block;
}

/*Navigation/Item */
/* line 71, ../sass/screen.scss */
.item {
  border-radius: 0.5em;
  text-align: center;
  padding: 1em 0;
  width: 12em;
  border: none;
  margin-left: 1em;
}

/* line 79, ../sass/screen.scss */
.item__button {
  color: white;
  font-weight: 400;
}

/* line 83, ../sass/screen.scss */
.item__student--color {
  background: #0052FF;
  transition: all 0.3s ease;
  transition-timing-function: ease;
}

/* line 87, ../sass/screen.scss */
.item__student--color:hover {
  background-color: #0024d3;
}

/* line 90, ../sass/screen.scss */
.item__task--color {
  background: #0052FF;
  transition: all 0.3s ease;
  transition-timing-function: ease;
}

/* line 94, ../sass/screen.scss */
.item__task--color:hover {
  background-color: #0024d3;
}

/*Wrap*/
/* line 98, ../sass/screen.scss */
.wrap {
  display: flex;
  justify-content: center;
  width: auto;
  align-items: center;
  min-height: 80vh;
  height: auto;
}

/* line 107, ../sass/screen.scss */
.wrap__containter {
  background-color: #fff;
  border-radius: .2em;
  margin: 0 .5em;
  padding: 3em;
}

/*Table*/
/* line 114, ../sass/screen.scss */
.table {
  border-collapse: collapse;
  overflow-x: auto;
  display: block;
  width: fit-content;
}

/* line 120, ../sass/screen.scss */
.rowheader {
  border-bottom: 1px solid #f2f2f2;
}

/* line 124, ../sass/screen.scss */
.rowheader__columnHeader {
  text-transform: uppercase;
  font-size: 14px;
  color: #333333;
  padding-left: 40px;
  padding-bottom: 21px;
}

/* line 132, ../sass/screen.scss */
.tableRow {
  border-bottom: 1px solid #f2f2f2;
}

/* line 135, ../sass/screen.scss */
.tableRow__cell {
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 40px;
  color: #666666;
}

/* line 141, ../sass/screen.scss */
.xpbutton {
  border: none;
  padding: 1vh;
  border-radius: .5vh;
  cursor: pointer;
}

/* line 147, ../sass/screen.scss */
.xpbutton--color {
  color: white;
  background: #0052FF;
  transition: all 0.3s ease;
  transition-timing-function: ease;
}

/* line 152, ../sass/screen.scss */
.xpbutton--color:hover {
  color: white;
  background: #666666;
}

/*Form*/
/* line 157, ../sass/screen.scss */
.titleForm {
  font-size: 3vh;
}

/* line 160, ../sass/screen.scss */
.titleForm--color {
  color: #666666;
}

/* line 163, ../sass/screen.scss */
.form {
  display: flex;
  flex-direction: column;
}

/* line 167, ../sass/screen.scss */
.form__label {
  font-size: 1.5vh;
}

/* line 170, ../sass/screen.scss */
.form__label--color {
  color: #666666;
}

/* line 173, ../sass/screen.scss */
.form__input {
  padding: .5vh;
  margin-right: 1vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

/* line 179, ../sass/screen.scss */
.form__save {
  border-radius: 9em;
  padding: 1em 0;
  width: 12em;
  border: none;
  font-size: 15px;
  font-weight: bold;
  margin: 0 auto;
}

/* line 188, ../sass/screen.scss */
.form__save--color {
  color: white;
  background: #26006A;
  transition: all 0.3s ease;
  transition-timing-function: ease;
}

/* line 193, ../sass/screen.scss */
.form__save--color:hover {
  background-color: #000;
}

/* line 196, ../sass/screen.scss */
.form__saveTask {
  border-radius: 9em;
  padding: 1em 0;
  width: 12em;
  border: none;
  font-size: 15px;
  font-weight: bold;
  margin: 0 auto;
}

/* line 205, ../sass/screen.scss */
.form__saveTask--color {
  color: white;
  background: #26006A;
  transition: all 0.3s ease;
  transition-timing-function: ease;
}

/* line 210, ../sass/screen.scss */
.form__saveTask--color:hover {
  background-color: #000;
}

/*Footer*/
/* line 214, ../sass/screen.scss */
.footer {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
}

/* line 225, ../sass/screen.scss */
.footer--color {
  background-color: white;
}

/* line 228, ../sass/screen.scss */
.topMeu {
  display: flex;
  justify-content: center;
}

/* line 232, ../sass/screen.scss */
.topMeu__item {
  color: #666666;
  font-weight: bold;
  text-decoration: none;
  margin-left: 1.5vh;
  padding-top: 2vh;
}

/* line 239, ../sass/screen.scss */
.botMenu {
  display: flex;
  justify-content: center;
  padding-top: 1vh;
}

/* line 244, ../sass/screen.scss */
.botMenu__item {
  margin-left: 1.5vh;
}

/*Media Queries*/
@media (max-width: 1024px) {
  /* line 249, ../sass/screen.scss */
  .wrap__containter {
    overflow-x: auto;
    margin-top: 5vh;
  }

  /* line 253, ../sass/screen.scss */
  .table {
    width: 100%;
  }

  /* line 256, ../sass/screen.scss */
  .tableRow__cell {
    width: 5px;
  }

  /* line 259, ../sass/screen.scss */
  .navigation {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  /* line 264, ../sass/screen.scss */
  .navigation__items {
    margin-right: 1vh;
  }
}
@media (max-width: 768px) {
  /* line 270, ../sass/screen.scss */
  .navigation {
    flex-direction: row;
    justify-content: space-around;
  }

  /* line 274, ../sass/screen.scss */
  .author {
    display: none;
  }

  /* line 277, ../sass/screen.scss */
  .wrap__containter {
    width: 100%;
  }

  /* line 280, ../sass/screen.scss */
  .navigation__items {
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: 10vh;
    margin-right: 10vh;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
  }

  /* line 289, ../sass/screen.scss */
  .notification {
    display: inline !important;
  }

  /* line 292, ../sass/screen.scss */
  .show-menu {
    display: block;
    width: 3em;
    margin: 2vh;
  }

  /* line 297, ../sass/screen.scss */
  .item {
    margin: 1vh;
    width: 30em;
  }
}
@media (max-width: 480px) {
  /* line 303, ../sass/screen.scss */
  .navigation__items {
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: 0vh;
    margin-right: 0vh;
  }

  /* line 309, ../sass/screen.scss */
  .item {
    width: 23em;
  }
}
