/* Styles go here */
*{
    padding: 0;
    margin: 0;
    font-family:Roboto, sans-serif;
    letter-spacing: .02em;
}
body{
    background: linear-gradient(to bottom, #6300c8 0%, #36d3fe 100%) #9000ff;
    height: 100%;
}
.header{
    background-color: #fff;
    padding: .2em 0;
    width: 100%;
}
.navSection{
    display: flex;
    justify-content: center;
    margin: 1em 0;
}
.navigation{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
}
.navigation__title{
    text-decoration: none;
    font-size: 25px;
}
.navigation__title--size{
    color: #36d3fe;
}
.navigation__items{
    display: flex;
    list-style: none;
}
.item{
    border-radius: 9em;
    text-align: center;
    padding: 1em 0;
    width: 12em;
    border: none;
    margin-left: 1em;
}
.item__button{
    color: white;
    font-weight: 400;
}
.item__student--color{
    background:#0052FF;
    transition: all .3s ease;
    transition-timing-function: ease;
}
.item__student--color:hover {
    background-color: #0024d3;
}
.item__task--color{
    background:#0052FF;
    transition: all .3s ease;
    transition-timing-function: ease;
}
.item__task--color:hover{
    background-color: #0024d3;
}
.wrap{
    display: flex;
    justify-content: center;
    width: auto;
    align-items: center;
    min-height: 80vh;
    height: auto;
   
}
.wrap__containter{    
    background-color: #fff;
    border-radius: .2em;
    margin: 0 .5em;
    padding: 3em;
}
.table{
    border-collapse: collapse;
    overflow-x: auto;
    display: block;
    width: fit-content;
}
.rowheader{
    border-bottom: 1px solid #f2f2f2;
}

.rowheader__columnHeader{
    text-transform: uppercase;
    font-size: 14px;
    color: #333333;
    padding-left: 40px;
    padding-bottom: 21px;
}

.tableRow{
    border-bottom: 1px solid #f2f2f2;
}
.tableRow__cell{
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 40px;
    color: #666666;
}
.titleForm{
font-size: 3vh;
}
.titleForm--color{
    color: #666666;
}
.form{
    display:flex;
    flex-direction: column;
}
.form__label{
    font-size: 1.5vh;
}
.form__label--color{
    color: #666666;
}
.form__input{
    padding: .5vh;
    margin-right:1vh;
    margin-top:1vh;
    margin-bottom:1vh;
}
.form__save{
    border-radius: 9em;
    padding: 1em 0;
    width: 12em;
    border: none;
    margin-left: 10%;
    font-size: 15px;
    font-weight: bold;
}
.form__save--color{
    color: white;
    background: #26006A;
    transition: all .3s ease;
    transition-timing-function: ease;
}
.form__save--color:hover{
    background-color: #000;
}
.form__saveTask{
    border-radius: 9em;
    padding: 1em 0;
    width: 12em;
    border: none;
    margin-left: 40%;
    font-size: 15px;
    font-weight: bold;
}
.form__saveTask--color{
    color: white;
    background: #26006A;
    transition: all .3s ease;
    transition-timing-function: ease;
}
.form__saveTask--color:hover{
    background-color: #000;
}
.xpbutton{
    border:none;
    padding: 1vh;
    border-radius:.5vh;
    cursor: pointer;
}
.xpbutton--color{
    color:white;
    background: #0052FF;
    transition: all .3s ease;
    transition-timing-function: ease;
}
.xpbutton--color:hover{
    color:white;
    background: #666666;
}
.footer{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    margin-top: 5vh;
}
.footer--color{
    background-color: white;
}
@media only screen and (min-width: 1280px) {

}
@media only screen and (max-width: 1280px) {

}
@media only screen and (max-width: 1024px) {
    .wrap__containter{
        overflow-x: auto;
        width: 100%;
        margin-top: 5vh;
    }
    .table{
        width: 100%;
    }
    .tableRow__cell{
        width: 5px;
    }
    .notification{
        display: inline !important;
    }
    .navigation{
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    .navigation__items{
       margin-right: 1vh;
    }

}
@media only screen and (max-width: 768px) {
    .navigation{
        flex-direction: column;
    }
    .navigation__items{
        margin-top:2vh;
        margin-bottom:2vh;
    }
}
@media only screen and (max-width: 480px) {

}