.header {
    display: none;
  }
  .notification{
    display: none;
}
.wrap__containter{
    overflow-x:hidden;
}
.table{
    border-collapse: collapse;
    overflow-x: hidden;
    display: block;
    width: fit-content;
}
.footer {
    visibility: hidden;
}
