/*
* Header -- Configuracio referent a la secció de header
* Navigation -- Part relacionada amb la dispsició del Header
* Navigation/Item -- Estils dels bottons que estan en el header
* Wrap -- Referent a la base de la seccio de continguts, base per a la taula i formularis
* Table -- Configuracio d'estils de la taula
* Form -- Configuracio i estils dels formularis
* AttitudeTasks 
* Footer -- Estils relacionats amb el footer
* Media Queries -- Estils responsive
*/
@import "_mixin";
@import "_variables";
@import "_transitions";
*{
    padding: 0;
    margin: 0;
    font-family:Roboto, sans-serif;
    letter-spacing: .02em;
}
.body{
    background: linear-gradient(to bottom, #6300c8 0%, #36d3fe 100%) #9000ff;
    height: 100%;
}
/*Header*/
.header{
    background-color: #fff;
    padding: .2em 0;
    width: 100%;
}
.navSection{
    display: flex;
    justify-content: center;
    margin: 1em 0;
}
/*Navigation*/
.navigation{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
}
.navigation__title{
    text-decoration: none;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navigation__title--size{
    color: $pricipalColor;
}
.navigation__items{
    display: flex;
    list-style: none;
}
.show-menu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    display: none;
    min-width: 5vh;
}
input[type=checkbox]{
    display: none;
}
input[type=checkbox]:checked ~ .navigation__items{
    display: block;
}
.author{
    text-decoration: none;
}
/*Navigation/Item */
.item{
    border-radius: 0.5em;
    text-align: center;
    padding: 1em 0;
    width: 12em;
    border: none;
    margin-left: 1em;
}
.item__button{
    color: white;
    font-weight: 400;
}
.item__student--color{
    background:$pricipalColor;
    @include setTransition(all, .3s, ease);
}
.item__student--color:hover {
    background-color: $buttonHover;
}
.item__task--color{
    background:$pricipalColor;
    @include setTransition(all, .3s, ease);
}
.item__task--color:hover{
    background-color: $buttonHover;
}
/*Wrap*/
.wrap{
    display: flex;
    justify-content: center;
    width: auto;
    align-items: center;
    min-height: 80vh;
    height: auto;

}
.wrap__containter{
    background-color: #fff;
    border-radius: .2em;
    margin: 0 .5em;
    padding: 3em;
}
/*Table*/
.table{
    border-collapse: collapse;
    overflow-x: auto;
    display: block;
    width: fit-content;
}
.rowheader{
    border-bottom: 1px solid #f2f2f2;
}

.rowheader__columnHeader{
    text-transform: uppercase;
    font-size: 14px;
    color: #333333;
    padding-left: 40px;
    padding-bottom: 21px;
}

.tableRow{
    border-bottom: 1px solid #f2f2f2;
}
.tableRow__cell{
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 40px;
    color: $textColor;
}
.xpbutton{
    border:none;
    padding: 1vh;
    border-radius:.5vh;
    cursor: pointer;
}
.xpbutton--color{
    color:white;
    background: $pricipalColor;
    @include setTransition(all, .3s, ease);
}
.xpbutton--color:hover{
    color:white;
    background: $textColor;
}
/*Form*/
.titleForm{
  font-size: 3vh;
}
.titleForm--color{
    color: $textColor;
}
.form{
    display:flex;
    flex-direction: column;
}
.form__label{
    font-size: 1.5vh;
}
.form__label--color{
    color: $textColor;
}
.form__input{
    padding: .5vh;
    margin-right:1vh;
    margin-top:1vh;
    margin-bottom:1vh;
}
.form__save{
    border-radius: 9em;
    padding: 1em 0;
    width: 12em;
    border: none;
    font-size: 15px;
    font-weight: bold;
    margin:0 auto;
}
.form__save--color{
    color: white;
    background: $buttonForm;
    @include setTransition(all, .3s, ease);
}
.form__save--color:hover{
    background-color: $buttonFormHover;
}
.form__saveTask{
    border-radius: 9em;
    padding: 1em 0;
    width: 12em;
    border: none;
    font-size: 15px;
    font-weight: bold;
    margin:0 auto;
}
.form__saveTask--color{
    color: white;
    background: $buttonForm;
    @include setTransition(all, .3s, ease);
}
.form__saveTask--color:hover{
    background-color: $buttonFormHover;
}
/*AttitudeTasks*/
.attitude{
    display: flex;
    flex-direction: column;
    
}
.attitude__positive{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.attitude__positive__button{
    border: none;
    margin: 1vh;
    border-radius: 2vh;
    width: 90%;
    padding: 2vh;
}
.attitude__negative{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.attitude__positive__button--color{
    color: white;
    background: mediumseagreen;
}
.attitude__negative__button{
    border: none;
    margin: 1vh;
    border-radius: 2vh;
    width: 90%;
    padding: 2vh;
}
.attitude__negative__button--color{
    color: white;
    background: tomato;
}

/*Footer*/
.footer{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
}
.footer--color{
    background-color: white;
}
.topMeu{
    display: flex;
    justify-content: center;
}
.topMeu__item{
    color: $textColor;
    font-weight: bold;
    text-decoration: none;
    margin-left: 1.5vh;
    padding-top: 2vh;
}
.botMenu{
    display: flex;
    justify-content: center;
    padding-top: 1vh;
}
.botMenu__item{
    margin-left: 1.5vh;
}
.botMenu__item>img:hover{
    transform: rotate(7deg);
}
/*Media Queries*/
@include media(md) {
    .wrap__containter{
        overflow-x: auto;
        margin-top: 5vh;
    }
    .table{
        width: 100%;
    }
    .tableRow__cell{
        width: 5px;
    }
    .navigation{
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    .navigation__items{
       margin-right: 1vh;
    }

  }
@include media(lg) {
  .navigation{
      flex-direction: row;
      justify-content: space-around;
  }
  .author{
      display: none;
  }
  .wrap__containter{
    width: 100%;
  }
  .navigation__items{
      margin-top:3vh;
      margin-bottom:3vh;
      margin-left:10vh;
      margin-right:10vh;
      display: none;
      flex-wrap: wrap;
      justify-content: center;
  }
  .notification{
      display: inline !important;
  }
  .show-menu {
    display:block;
    width: 3em;
    margin:2vh;
  }
  .item{
    margin:1vh;
    width: 30em;
   }
}
@include media(ps){
    .navigation__items{
        margin-top:3vh;
        margin-bottom:3vh;
        margin-left:0vh;
        margin-right:0vh;
    }
    .item{
        width: 23em;
    }
}