<h2 class="titleForm titleForm--color">Add new Graded Task</h2>
We understand as a graded task any test or practice that will be marked by teacher and should be reflected in the final mark.

<form id="newGradedTask" class="form" role="form" aria-labelledby="newGradedTask">
  <label class="form__label form__label--color" for="idTaskName">Task name:</label>
  <input class="form__input" aria-required="true" aria-invalid="true" type="text" id="idTaskName" name="taskname" placeholder="Task Name" value="" required>
  <label class="form__label form__label--color" for="idTaskDescription">Task description:</label>
  <textarea class="form__input" rows="4" cols="50" id="idTaskDescription" name="taskdescription" required></textarea>
  <label class="form__label form__label--color" for="idTaskWeight">Task Weight (0-100 %):</label>
  <input class="form__input" aria-required="true" aria-invalid="true" type="number" id="idTaskWeight" name="taskweight" placeholder="Task Weight" value="" required >
  <input type="submit" class="form__saveTask form__saveTask--color" value="Save" aria-labelledby="newGradedTask">
</form>
