<h2 class="titleForm titleForm--color">Add new Student</h2>
<form id="newStudent" role="form" aria-labelledby="addStudent" class="form">
  <label for="idFirstName" class="form__label form__label--color">First name:</label>
  <input role="input" class="form__input" aria-required="true" aria-invalid="true" type="text" id="idFirstName" name="firstname" placeholder="Name" value="" required>
  <br>
  <label for="idSurnames" class="form__label form__label--color">Surnames:</label>
  <input role="input" class="form__input" aria-required="true" aria-invalid="true" type="text" id="idSurnames" name="surnames" placeholder="Surname" value="" required>
  <br>
  <input role="submit" class="form__save form__save--color" type="submit" value="Save">
</form>
