<h2>Add new Student</h2>
<form id="newStudent" role="form" aria-labelledby="addStudent">
  <label for="idFirstName">First name:</label>
  <input role="input" aria-required="true" aria-invalid="true" type="text" id="idFirstName" name="firstname" value="" required>
  <br>
  <label for="idSurnames">Surnames:</label>
  <input role="input" aria-required="true" aria-invalid="true" type="text" id="idSurnames" name="surnames" value="" required>
  <br>
  <input role="submit" type="submit" value="Save">
</form>
