    <link rel="stylesheet" href="../SASS/stylesheets/screen.css">
    <section class="attitude">
    <div class="attitude__positive">
        <h3>Positive behaviours</h3>
        <button class="xp attitude__positive__button attitude__positive__button--color" value="20"> +20 Correctly answer a question in class using English </button>
        <button class="xp attitude__positive__button attitude__positive__button--color" value="20" > +20 Present your solution in front of class </button>
        <button class="xp attitude__positive__button attitude__positive__button--color" value="100"> +100 Finish a proposed task before class ends </button>
        <button class="xp attitude__positive__button attitude__positive__button--color" value="50" > +50 Asking insightful questions about the lesson </button>
        <br>
    </div>
    <div class="attitude__negative">
        <h3>Negative behaviours</h3>
        <button class="xp attitude__negative__button attitude__negative__button--color" value="-20">-20 Arriving late to class </button>
        <button class="xp attitude__negative__button attitude__negative__button--color" value="-30"> -30 Not answer in english when you have been asked in english </button>
        <button class="xp attitude__negative__button attitude__negative__button--color" value="-100"> -100 Delayed homework delivery </button>
    </div>
   
</section>




